<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-map-marker"></i> 网址导航 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="{% url 'navi:navi' %}">常用链接</a></li>
          <li><a href="{% url 'navi:doc' %}">重要文档</a></li>
        </ul>
      <li><a><i class="fa fa-user"></i> LDAP管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="{% url 'users:forget' %}">忘记密码</a></li>
            <li><a href="{% url 'users:change' %}">修改密码</a></li>
            <li><a href="{% url 'users:generate' %}">密码工具</a></li>
            <li><a href="https://www.cnblogs.com/wellful/" target="_blank">参考文档</a></li>
        </ul>
      </li>
    </ul>
  </div>

</div>
<!-- /sidebar menu -->

<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
  <a data-toggle="tooltip" data-placement="top" title="Settings">
    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="FullScreen">
    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Lock">
    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Logout" href="{% url 'users:logout' %}">
    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
  </a>
</div>
<!-- /menu footer buttons -->